.contact-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact-map {
    padding-top: 50px;
    width: 50%;
    height: 600px;
    /* Resize the background image to cover the entire container */
}

.map {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
    background-image: url("./../Assets/loading.png");
    background-color: #f9f9f9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-input{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.textArea {
    width: 100%;
    height: auto;
    font-size: 19px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}

.contact-title{
    margin-bottom: 5px;
    color: rgb(46, 46, 46);
    letter-spacing: 1px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-btn {
    padding: 15px 40px;
    border-radius: 8px;
    border: 2px solid rgb(184, 2, 2);
    background-color: rgb(184, 2, 2);
    color: white;
    margin-top: 30px;
    letter-spacing: 0.1em;
    font-weight: bold;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: white;
    color: rgb(184, 2, 2);
    border: 2px solid rgb(184, 2, 2);
}

.bold {
    font-weight: bold;
}

.alert{
    width: 100%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    opacity: 0%;
    transition: 0.2s;
    margin-bottom: 15px;
}

.alert-visible{
    opacity: 100%;
}
