 
 .container {
    display: flex;
    flex-direction: column;
 }

 .hero {
    order: 1;
    margin-top: 20px;
    display: flex;
    margin-bottom: 50px;
    position: relative;
}

.hero video {
    width: 100%;
    z-index: -1;
}

.hero-btn {
    z-index: 1;
}

.hero .hero-h1 {
    position: absolute;
    top: 72%;
    left: 20%;
    pointer-events: none;
}

.hero .hero-btn {
    position: absolute;
    top: 82%;
    left: 20%;
}

.hero-text {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-h1 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.hero-p {
    color: white;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.forBG {
    order: 2;
    background: linear-gradient(
    to bottom, 
    #ffffff 0%, 
    #ffffff 15%, 
    #303030 15%, 
    #252525 80%,
    #ffffff 80%, 
    #ffffff 100%
  );
}

 .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax( 200px, auto );
    column-gap: 80px;
    row-gap: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
 }

.grid-item {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.grid-item .img-btn {
    position: absolute;
    top: 60%;
    left: 39%;
}

.img-btn {
    pointer-events: none;
    opacity: 0.1;
    transition: 1s;
}

.grid-item-1 {
    margin-top: 70px;
}

.grid-item-2 {
    margin-bottom: 70px;
}

.grid-item-3 {
    margin-top: 40px;
}

.grid-item-4 {
    margin-bottom: 40px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.5s;
}

.grid-item img:hover {
    transform: scale(1.04);
    filter: brightness(15%)
}

.grid-item img:hover + .img-btn {
    opacity: 1;
}

.grid-item-h3 {
    pointer-events: none;
    color: whitesmoke;
    letter-spacing: .1rem;
    opacity: 1;
    font-size: 7vw;
}

.grid-item .grid-item-h3 {
    position: absolute;
    top: 20%;
    left: 10%;
    opacity: 0.1;
}

.grid-item-4 .grid-item-h3 {
    position: absolute;
    top: 20%;
    left: 7%;
}

.grid-item-3 .grid-item-h3 {
    position: absolute;
    top: 20%;
    left: 30%;
}
