
.product-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-img {
    object-fit: cover;
    height: 720px;
    width: 100%;
    margin: 0 auto 0 auto;
    transform: translateX(100px);
    opacity: 0;
    transition: 500ms;
}

.product-first-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px auto 40px auto;
    transform: translateX(-100px);
    opacity: 0;
    transition: 500ms;
}

.product-title {
    color: rgb(61, 61, 61);
    margin-bottom: 40px;
}

.product-p {
    line-height: 1.4;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.product-details-div {
    width: 100%;
    padding: 30px;
    background-color: rgb(105, 105, 105);
    color: white;
    transform: translateX(-100px);
    opacity: 0;
    transition: 500ms;
}

.product-details-title {
    margin: 30px 20px;
}

.product-details-p {
    margin-left: 50px;
}

.caracteristic-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 30px 15px;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    transition: 500ms;
}

.caracteristic-title {
    margin: 40px 0;
    color: rgb(61, 61, 61);
    transform: translateX(-100px);
    opacity: 0;
    transition: 500ms;
}

.caracteristic-subtitle {
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
}

.caracteristic-text {
    width: 80%;
    margin: auto;
    line-height: 1.4;
}

.div-btn {
    margin-top: 30px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-btn {
    color: white;
    background-color: rgb(148, 0, 0);
    padding: 15px 20px;
    border: 1px solid rgb(148, 0, 0);
    margin-top: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.product-btn:hover {
    background-color: rgb(206, 0, 0);
}

.visible {
    transform: translateX(0);
    opacity: 1;
}

.product-emai-btn {
    align-self: flex-start;
    color: white;
    background-color: rgb(0, 23, 156);
    padding: 15px 35px;
    border: 1px solid rgb(0, 23, 156);
    margin-top: 30px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 4px;
}

.product-emai-btn:hover {
    background-color: rgb(0, 36, 241);
}
